body {
	background-color: #5b7994;
}
.battlefield, .ai-options, .players, .human-options, .result {
	display: flex;
} 

.battlefield {
	justify-content: center;
	flex-wrap: wrap;
}
.battlefield.title {
	width: 100%;
	justify-content: center;
}

img {
	border-radius: 10px;
}
.rounding {
	border-radius: 10px;
}
.ai-options {
	flex-direction: column;
}

.ai-option {
	width: 60px;
	height: 75px;
	transform: rotate(90deg);
}
.player {
	padding: 1rem;
	margin: 1rem;
	display: flex;
}
.moves {
	align-items: center;
}

#move-1 {
	transform: rotate(80deg);
	margin-left: 0;
	margin: 0rem 0rem 9rem 0.15rem;
}
#move-2 {
	transform: rotate(-5deg);
	
}

.move {
	width: 80px;
	height: 100px;
	align-self: center;
}
.hand-placement {
	align-self: flex-end;
	margin: 0rem 0rem 3.5rem 0.15rem;
}
.ai-rotate {
	height: 65px;
	width: 75px;
}
.human-options {
	flex-direction: column;
	flex-wrap: wrap;
}

.human-option {
	width: 80px;
	height: auto;
	background-color:#5b7994;
}
.human-button {
	background-color: #5b7994;
}

.result {
	margin: 0 25rem;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.result > h2 {
	flex: 0 0 50%;
}



